html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
  font-size: 62.5%
}

body {
  background-color: #0a9396;
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: 'Anton', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#welcome {
  font-size: 25px;
}

#welcome, #message {
  text-align: center;
  color: #002c3d;
}

section.board {
  display: grid;
  grid-template-rows: repeat(6, 10vmin);
  grid-template-columns: repeat(7, 10vmin);
  grid-gap: 1vmin;
  justify-content: center;
}

.circle {
  border: 2px solid #002c3d;
  border-radius: 50%;
  font-size: 8vmin;
  text-align: center;
  vertical-align: middle;
}

footer {
  text-align: right;
  font-size: 10px;
  margin-right: 5px;
}

#replay-button {
  display: flex;
  background-color: #002c3d;
  color: #e9d8a6;
  font-family: 'Anton', sans-serif;
  justify-content: flex-start;
  text-align: center;
  width: auto;
}
#music-button {
  display: flex;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

#music {
  display: flex;
  background-color: #002c3d;
  color: #e9d8a6;
  font-family: 'Anton', sans-serif;
  width: 100px;
  justify-content: center;
}

.hovercircle:hover {
  background-color: grey;
}

@media only screen and (min-width: 768px) {
  body {
    background-color: black;
    display: flex;
  }
  #welcome, #message {
    text-align: center;
    color: white;
  }
  .circle {
    border-color: white;
  }
  #music {
    background-color: black;
    color: white;
    width: 100px;
    justify-content: center;
  }
  #replay-button {
    background-color: black;
    color: white;
    justify-content: center;
    text-align: center;
  }
  footer {
    text-align: right;
    color: white;
    font-size: 15px;
    margin-right: 30px;
  }
}


